<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AcqurerHostname" value="192.168.43.160"/>
    <add key="AcqurerPort" value="61002"/>
    <add key="CardsDB" value="C:/Users/OYELAYO/Documents/Appzone/Projects/Switch Project/Globus CBA/GlobusCards.yap"/>
  </appSettings>
</configuration>