<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- <add key="AcqurerHostname" value="10.1.4.5"/> -->
    <!-- <add key="AcqurerPort" value="51617"/> -->
	<add key="AcqurerHostname" value="192.168.43.160"/> -->
    <add key="AcqurerPort" value="60012"/>
	<!--<add key="AcqurerPort" value="8583"/>-->
    <add key="CardsDB" value="C:/Users/OYELAYO/Documents/Appzone/Projects/Switch Project/Globus CBA/GlobusCards.yap"/>
	  <!--C:\Users\BUNMI\Desktop\Appzone\System Integration\Globus-->
	  
	  <!--C:/Logs/-->
  </appSettings>
</configuration>