<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageFields" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    <add key="NodeName" value="BankONE Node" />
    <add key="NodeIP" value="192.168.0.113" />
    <add key="NodePort" value="1990" />
    <add key="LinkedAccount" value="1013427834" />
    <add key="LinkedAccount2" value="1024328795" />
    <!--<add key="TerminalID" value="3IAP0761" />-->
    <add key="TerminalID" value="3IAP0761" />
    <add key="OriginalDataElement" value="021012345602271722220000000000000000000000" />
  </appSettings>
  <MessageFields>
    <add key="2" value="5061050323044372649"/>
    <add key="3" value="012000"/>
    <add key="4" value="000000070000"/>
    <add key="7" value=""/>
    <add key="11" value=""/>
    <add key="12" value=""/>
    <add key="13" value=""/>
    <add key="14" value="1309"/>
    <add key="22" value="901"/>
    <add key="25" value="00"/>
    <add key="26" value="12"/>
    <add key="28" value="C00000000"/>
    <add key="29" value="C00000000"/>
    <add key="32" value="100002"/>
    <add key="37" value=""/>
    <add key="41" value="1701230J"/>
    <add key="42" value="VIACARD"/>
    <add key="43" value="9th Floor Wincor Test Lagos NG"/>
    <add key="49" value="566"/>
    <add key="56" value="1510"/>
    <add key="59" value="0104489545"/>
    <add key="102" value="23010001003001"/>
    <add key="103" value="23010001003001"/>
    <add key="123" value="511201203344002"/>
  </MessageFields>
</configuration>